<a href="https://colab.research.google.com/github/GabrielaSchubert/GabrielaSchubert/blob/main/Lista_de_Exercicios_Python_Brasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercicio 1

In [ ]:
print(" Alo Mundo ")

 Alo Mundo

Exercicio 2

In [ ]:
num= int(input( " digite o numero: "))
print("o numero informado foi", num)

 digite o numero: 8
o numero informado foi 8

Exercicio 3

In [ ]:
num1= int(input(" digite o numero: "))
num2= int(input(" digite outro numero: "))
soma= num1+num2
print("soma dos dois", soma)

 digite o numero: 5
 digite outro numero: 5
soma dos dois 10

Exercicio 4

In [ ]:
prinota= float(input( " digite a nota: "))
segnota= float(input(" digite outra nota: "))
trinota= float(input(" digite mais nota: "))
quanota= float(input(" digite nota: "))
media1= (prinota+segnota+trinota+quanota) /4
print("sua media foi", media1)

 digite a nota: 6.5
 digite outra nota: 7.5
 digite mais nota: 8.5
 digite nota: 9.5
sua media foi 8.0

Exercicio 5

In [ ]:
met= float(input(" digite o metro: "))
cen= met*100
print("cm", cen)

 digite o metro: 1.5
cm 150.0

Exercicio 6

In [ ]:
raio= int(input(" digite o raio do circulo: "))
area= 3.14*raio**2
print("sua area", area)

 digite o raio do circulo: 6
sua area 113.04

Exercicio 7

In [ ]:
lado= float(input( " digite o lado do quadrado: "))
area= lado*lado
dobro= area*2
print(" resultado da area", area)
print(" resultado do dobro", dobro)

 digite o lado do quadrado: 6
 resultado da area 36.0
 resultado do dobro 72.0

Exercicio 8

In [ ]:
ganho_hora= float(input( " digite o valor ganho por hora: "))
horas_trabalhadas= int(input(" digite as horas trabalhadas no mes: "))
salario= ganho_hora*horas_trabalhadas
print(" total do salario", salario)

 digite o valor ganho por hora: 10.5
 digite as horas trabalhadas no mes: 200
 total do salario 2100.0

Exercicio 9

In [ ]:
f= float(input('Informe a temperatura em Farenheit: '))
c= (5 * (f - 32) / 9)
print("temperatura convertida para Celsius", c)

Informe a temperatura em Farenheit: 22.3
temperatura convertida para Celsius -5.388888888888889

Exercicio 10

In [ ]:
c= int(input(" informe a temperatura em celsius "))
f= (5*(f - 32) /9 )
print(" temperatura convertida em farenheit", f)

 informe a temperatura em celsius 20
 temperatura convertida em farenheit -5.388888888888889

Exercicio 11

In [ ]:
num1= int(input( " insira o numero: "))
num2= int(input(" insira outro numero: "))
num3= float(input(" insira mais esse numero: "))
n1= num1 *2* (num2/2)
print(" o produto do dobro do primeiro com metade do segundo", n1)
n2= num1*3 + num3
print(" a soma do triplo do primeiro com o terceiro", n2)
n3= num3**3
print(" o terceiro elevado ao cubo", n3)

 insira o numero: 6
 insira outro numero: 8
 insira mais esse numero: 6.5
 o produto do dobro do primeiro com metade do segundo 48.0
 a soma do triplo do primeiro com o terceiro 24.5
 o terceiro elevado ao cubo 274.625

Exercicio 12

In [ ]:
altura = float(input('Informe sua altura: '))
peso = (72.7 * altura) - 58
print('Seu peso ideal', peso)

Informe sua altura: 1.68
Seu peso ideal 64.136

Exercicio 15

In [ ]:
ganho_p_hora= float( input(" digite o valor ganho por hora: "))
horas_mes= float(input(" digite as horas trabalhadas no mes: "))
sal_bruto= ganho_p_hora* horas_mes
im_renda= sal_bruto*11/100
inss= sal_bruto*8/100
sindi= sal_bruto*5/100
descontos= (im_renda + inss + sindi)
sal_liq= sal_bruto - descontos
print("seu salario bruto", sal_bruto)
print("Valor dos impostos",descontos)
print(" valor pago no imposto de renda", im_renda)
print("valor pago ao inss", inss)
print("valor pago ao sindicato", sindi)
print(" seu salario liquido", sal_liq)

 digite o valor ganho por hora: 45.5
 digite as horas trabalhadas no mes: 180
seu salario bruto 8190.0
Valor dos impostos 1965.6
 valor pago no imposto de renda 900.9
valor pago ao inss 655.2
valor pago ao sindicato 409.5
 seu salario liquido 6224.4

Exercicio 16

In [ ]:
import math
metros = float(input("metros quadrados: "))
litros = metros / 3
latas = math.ceil(litros / 18)
preco = latas * 80
print("Quantidade de latas: %.0f" %latas)
print("R$%.2f" %preco)

metros quadrados: 8.5
Quantidade de latas: 1
R$80.00

Exercicio 17

Exercicio 18

In [ ]:
tam = float(input('tamanho do arquivo em mb: '))
vel = float(input('velocidade da internet em mbps: '))
print('Tempo aproximado de download: %.0f minutos ' %((tam / vel) * 60))

Tamanho do arquivo (MB): 5.6
Velocidade de Internet (MBps): 3.1
Tempo aproximado de download: 108 Minutos